build
builddir
.atom-dbg.cson
.vscode
*~
.goutputstream-*
*.css
obj-*-linux-gnu
*.debhelper.log
*.substvars
*.debhelper
debian/com.github.stsdc.monitor
debian/files
# subprojects/*/
.flatpak-builder
*.tar.gz
*.rpm
