// TODO: Remove when migrating to Granite 9
:root {
    --BANANA-100: #fff394;
    --BANANA-300: #ffe16b;
    --BANANA-700: #d48e15;
    --BANANA-900: #ad5f00;

    --BLUEBERRY-100: #8cd5ff;
    --BLUEBERRY-300: #64baff;
    --BLUEBERRY-500: #3689e6;

    --GRAPE-500: #a56de2;

    --LIME-300: #9bdb4d;

    --ORANGE-100: #ffc27d;
    --ORANGE-300: #ffa154;
    --ORANGE-700: #cc3b02;
    --ORANGE-900: #a62100;

    --SILVER-100: #fafafa;
    --SILVER-300: #d4d4d4;
    --SILVER-500: #abacae;
    --SILVER-700: #7e8087;
    --SILVER-900: #555761;

    --STRAWBERRY-300: #ed5353;
}


roundy-label,
roundy-label:hover,
roundy-label:selected,
roundy-label:selected:focus,
roundy-label:hover:selected {
    margin: 0 3px;

    .value {
        color: #{'alpha(@text_color, 0.7)'};
        font-feature-settings: "tnum";
        font-weight: 700;
        border-radius: 10px;
        padding: 0 6px;
        background-color: var(--SILVER-300);

        @media (prefers-color-scheme: dark) {
            background-color: var(--SILVER-900);
        }
    }

    &.green .value {
        background-color: color-mix(in srgb, var(--LIME-300) 60%, transparent);
    }

    &.blue .value {
        background-color: color-mix(in srgb, var(--BLUEBERRY-300) 60%, transparent);
    }

    &.username {
        &-other .value {
            background-color: var(--BANANA-300);
            color: #381F00;
        }

        &-root .value {
            background-color: var(--STRAWBERRY-300);
            color: var(--SILVER-100);
        }
    }
}

.grape_500 {
    background-color: color-mix(in srgb, var(--GRAPE-500) 60%, transparent);
}

.blueberry_100 {
    background-color: color-mix(in srgb, var(--BLUEBERRY-100) 60%, transparent);
}

.usage-label-container {
    border-radius: 3px;
    margin: 6px;
    background-color: color-mix(in srgb, var(--SILVER-100) 50%, transparent);
    border: 1px solid var(--SILVER-300);

    @media (prefers-color-scheme: dark) {
        background-color: color-mix(in srgb, var(--SILVER-900) 50%, transparent);
        border: 1px solid var(--SILVER-900);
    }
}

header.small-label {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    text-transform: uppercase;
}

.state_badge,
.state_badge:hover,
.state_badge:selected,
.state_badge:selected:focus,
.state_badge:hover:selected {
    background-image: none;
    background-color: var(--BLUEBERRY-500);
    box-shadow: none;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 3px;
    border-width: 0;
}

.core_badge {
    border-radius: 8px;
    padding-right: 4px;
    padding-left: 2px;
    font-size: 10px;
    border: 1px solid var(--SILVER-300);
    background-color: var(--SILVER-100);

    @media (prefers-color-scheme: dark) {
        border: 1px solid var(--SILVER-700);
        background-color: var(--SILVER-900);
    }


    &-mild-warning {
        background-color: color-mix(in srgb, var(--BANANA-100) 70%, transparent);
        color: var(--BANANA-900);
        border: 1px solid color-mix(in srgb, var(--BANANA-300) 70%, transparent);

        @media (prefers-color-scheme: dark) {
            background-color: color-mix(in srgb, var(--BANANA-900) 70%, transparent);
            color: var(--BANANA-300);
            border: 1px solid color-mix(in srgb, var(--BANANA-700) 70%, transparent);
        }
    }

    &-strong-warning {
        background-color: color-mix(in srgb, var(--ORANGE-100) 70%, transparent);
        color: var(--ORANGE-900);
        border: 1px solid color-mix(in srgb, var(--ORANGE-300) 70%, transparent);

        @media (prefers-color-scheme: dark) {
            background-color: color-mix(in srgb, var(--ORANGE-900) 70%, transparent);
            color: var(--ORANGE-300);
            border: 1px solid color-mix(in srgb, var(--ORANGE-700) 70%, transparent);
        }
    }

    &-critical-warning {
        background-color: color-mix(in srgb, var(--STRAWBERRY-100) 70%, transparent);
        color: var(--STRAWBERRY-700);
        border: 1px solid color-mix(in srgb, var(--STRAWBERRY-300) 70%, transparent);

        @media (prefers-color-scheme: dark) {
            background-color: color-mix(in srgb, var(--STRAWBERRY-900) 70%, transparent);
            color: var(--STRAWBERRY-100);
            border: 1px solid color-mix(in srgb, var(--STRAWBERRY-700) 70%, transparent);
        }
    }
}

.flags_badge {
    @extend .core_badge;
    font-size: 12px;
    padding: 1px 4px;

}

.command_wrapper {
    background-color: #fdf6e3;
    border-radius: 3px;
    box-shadow:
        0 1px 1px color-mix(in srgb, black 12%, transparent),
        0 1px 2px color-mix(in srgb, black 20%, transparent);
    padding: 5px;
}

.command {
    font-family: monospace;

    text {
        background-color: #fdf6e3;
    }
}

.graph {
    border-radius: 6px;
    border: 1px var(--SILVER-300) solid;

    @media (prefers-color-scheme: dark) {
        border: 1px var(--SILVER-900) solid;
    }
}

.open_files_list_box_wrapper {
    border: 1px var(--SILVER-300) solid;

    @media (prefers-color-scheme: dark) {
        border: 1px var(--SILVER-900) solid;
    }
}

.open_files_list_box {
    &_row {
        border-bottom: 1px var(--SILVER-100) solid;

        @media (prefers-color-scheme: dark) {
            border-bottom: 1px var(--SILVER-900) solid;
        }

        label {
            font-family: monospace;
            padding: 6px 2px 2px;
            border-radius: 4px;
        }

        image {
            color: var(--SILVER-700);
            margin: 6px;
        }
    }
}

.bold {
    font-weight: bold;
}

.text-secondary {
    color: var(--SILVER-700);
}
