Source: com.github.stsdc.monitor
Section: utils
Priority: extra
Maintainer: Stanisław Dac <stadac@pm.me>
Build-Depends: meson,
               appstream,
               debhelper (>= 9),
               libgtk-3-dev,
               libglib2.0-dev,
               valac (>= 0.26),
               libgranite-dev (>= 5.2.0),
               libwnck-3-dev,
               libgtop2-dev,
               libwingpanel-3.0-dev,
               libhandy-1-dev,
               libudisks2-dev,
               sassc
Standards-Version: 4.1.1

Package: com.github.stsdc.monitor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Manage processes and monitor system resources.
