Source: com.github.stsdc.monitor
Section: system
Priority: extra
Maintainer: Stanisław Dac <stanislaw.dac@gmail.com>
Build-Depends: meson,
               appstream,
               debhelper (>= 9),
               libgtk-3-dev,
               libglib2.0-dev,
               valac (>= 0.26),
               libgranite-dev (>= 5.2.0),
               libbamf3-dev,
               libdazzle-1.0 (>= 3.30),
               libwnck-3-dev,
               libgtop2-dev,
               libwingpanel-2.0-dev
Standards-Version: 4.1.1

Package: com.github.stsdc.monitor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Manage processes and monitor system resources.
