Source: io.elementary.monitor
Section: utils
Priority: extra
Maintainer: Stanisław Dac <stadac@pm.me>
Build-Depends: debhelper-compat (= 13),
               meson,
               appstream,
               libadwaita-1-dev,
               libgtk-4-dev,
               libglib2.0-dev,
               valac (>= 0.26),
               libgranite-7-dev (>= 7.7.0),
               libgtop2-dev,
               libwingpanel-3.0-dev,
               libudisks2-dev,
               libxnvctrl0,
               libxnvctrl-dev,
               libjson-glib-dev,
               libflatpak-dev,
               liblivechart-2-dev,
               libpci-dev,
               sassc
Standards-Version: 4.1.1

Package: io.elementary.monitor
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Manage processes and monitor system resources
