.roundy-label,
.roundy-label:hover,
.roundy-label:selected,
.roundy-label:selected:focus,
.roundy-label:hover:selected {
    background-image: none;
    background-color: @SILVER_300;
    box-shadow: none;
    color: alpha(@text_color, 0.7);
    font-weight: 700;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 3px;
    border-width: 0;
}

/* .vertical-label,
.vertical-label:hover,
.vertical-label:selected,
.vertical-label:selected:focus,
.vertical-label:hover:selected {

} */

.label-vertical {

}

.label-vertical-val {
    color: alpha(@text_color, 1);
    font-size: 30px;
    font-weight: 100;
    /* padding: 0 6px;
    margin: 0 3px; */
    border-width: 0;
}

.usage-label-container {
    border: 1px solid @SILVER_300;;
    border-radius: 3px;
    background-color: alpha(@SILVER_100, 0.5);
    }

.username-current {
    background-color: @SILVER_300;
    color: @SILVER_900;
}

.username-other {
    background-color: @BANANA_300;
    color: #381F00;
}

.username-root {
    background-color: @STRAWBERRY_300;
    color: @SILVER_100;
}

.state_badge,
.state_badge:hover,
.state_badge:selected,
.state_badge:selected:focus,
.state_badge:hover:selected {
    background-image: none;
    background-color: @BLUEBERRY_500;
    box-shadow: none;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 3px;
    border-width: 0;
}

.core_badge {
    background-color: @SILVER_100;
    border-radius: 8px;
    padding-right: 4px;
    padding-left:2px;
    font-size: 10px;
    /* font-weight:bold; */
    color: black;
    border: 1px solid @SILVER_300;
}

.core_badge-mild-warning {
    background-color: @BANANA_100;
    color: @BANANA_900;
    border: 1px solid @BANANA_300;
}

.core_badge-strong-warning {
    background-color: @ORANGE_100;
    color: @ORANGE_900;
    border: 1px solid @ORANGE_300;
}

.core_badge-critical-warning {
    background-color: @STRAWBERRY_100;
    color: @STRAWBERRY_700;
    border: 1px solid @STRAWBERRY_300;
}

.command_wrapper {
    background-color: #fdf6e3;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.20);
    padding: 5px;
}

.command text {
    background-color: #fdf6e3;
}
.command {
    font-family: monospace;
}

.small-text {
    color:grey;
    font-weight:bold;
    font-size:9px;
}

.graph {
    border: 1px @SILVER_300 solid;
    padding: 3px;
    border-radius: 6px;
    background-color: @base_color
}

.open_files_list_box_wrapper {
    border: 1px @SILVER_300 solid;
}

.open_files_list_box {

}
.open_files_list_box_row {
    border-bottom: 1px @SILVER_100 solid;
}

.open_files_list_box_row label {
    font-family: monospace;
    /* background-color: @SILVER_300; */
    padding: 6px 2px 2px;
    border-radius: 4px;
}

.open_files_list_box_row image {
    color: @SILVER_700;
    margin: 6px;
}

.bold {
    font-weight: bold;
}

.text-secondary {
    color: @SILVER_700;
}