.badge,
.badge:hover,
.badge:selected,
.badge:selected:focus,
.badge:hover:selected {
    background-image: none;
    background-color: alpha(@text_color, 0.1);
    box-shadow: none;
    color: alpha(@text_color, 0.7);
    font-weight: 700;
    border-radius: 10px;
    padding: 0 6px;
    margin: 0 3px;
    border-width: 0;
}